#home {
	background: #020507;
	width: 100vw;
	height: 100vh;
	/* min-height: 800px; */
	z-index: 600;
	position: relative;
}
 #home .shadow-overlay {
    z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	opacity: .9;
	background: -moz-linear-gradient(left, black 0%, black 20%, transparent 100%);  /* FF3.6-15 */
	background: -webkit-linear-gradient(left, black 0%, black 20%, transparent 100%);  /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, black 0%, black 20%, transparent 100%);  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#00000000', GradientType=1);  /* IE6-9 */
}




/* slider */

.slider {
    width: 100vw;
    height: 100vh;
    
    position: absolute;
  }
  .slide1,.slide2,.slide3,.slide4 {
    position: absolute;
    width: 100vw;
    height: 100vh;
  }
  .slide1 {
    background: url("images/bg3.jpg")no-repeat center;
        background-size: cover;
        
      animation:fade 20s infinite;
  -webkit-animation:fade 10s infinite;
  
  } 
  .slide2 {
    background: url("images/bg2.jpg")no-repeat center;
        background-size: cover;
       
      animation:fade2 20s infinite;
  -webkit-animation:fade2 10s infinite;
  }
  .slide3 {
      background: url("images/bg1.jpg")no-repeat center;
        background-size: cover;
      
      animation:fade3 20s infinite;
  -webkit-animation:fade3 10s infinite;
  }
  .slide4 {
	background: url("images/sea.jpg")no-repeat center;
	  background-size: cover;
	
	animation:fade4 20s infinite;
-webkit-animation:fade4 10s infinite;
}

  @keyframes fade
  {
    0%   {opacity:1}
    33.333% { opacity: 0}
    66.666% { opacity: 0}
    100% { opacity: 1}
  }
  @keyframes fade2
  {
    0%   {opacity:0}
    33.333% { opacity: 1}
    66.666% { opacity: 0 }
    100% { opacity: 0}
  }
  @keyframes fade3
  {
    0%   {opacity:0}
    33.333% { opacity: 0}
    66.666% { opacity: 1}
    100% { opacity: 0}
  }
  @keyframes fade4
  {
    0%   {opacity:0}
    33.333% { opacity: 0}
    66.666% { opacity: 1}
    100% { opacity: 0}
  }






  /* logo */


.logo{
	position: absolute;
	
	left: 30px;
	top:20px;
    width: 20vw;
    height: 20vh;
    /* z-index: +3; */
background-image: url("images/drone.png");
background-repeat: no-repeat;
background-size: contain;
/* border: 1px solid red; */
animation: logofly 10s linear infinite;

}

@keyframes logofly {
	0% {
	  -webkit-transform: translateY(0px);
	  -moz-transform: translateY(0px);
	  transform: translateY(0px);
	
	}
	50% {
	  -webkit-transform: translateY(60px);
	  -moz-transform: translateY(60px);
	  transform: translateY(60px);

	}
	100% {
		-webkit-transform: translateY(0px);
		-moz-transform: translateY(0px);
		transform: translateY(0px);
	  }
  }

.logo2{
	position: relative;
	
    margin: 0 auto;
    top: 200px;
    width: 320px;
    height: 320px;
    /* z-index: +3; */
background: url("images/hellatext.png") no-repeat center;

background-size: contain;
/* border: 1px solid red; */

}











.social-links{
	position: absolute;
	top: 50px;
	right:60px;

}
 
 .social-links ul li{

	display: inline-block;
	font-size: 25px;
	/* color:white; */
	list-style: none;
	padding-left: 20px;
	box-sizing: border-box;
	

 }

.social-links ul li a,
.social-links ul li a:visited {
	color: #FFFFFF;
}

 .social-links ul li a:hover,
 .social-links ul li a:focus {
	color: #057f78;
	transition: 0.8s;
}









.descr{
position: absolute;
bottom: 60px;
left:60px;


}


.com{

font-family: Oswald,"Helvetica Neue","Lucida Grande",Arial,Verdana,sans-serif;
text-transform: uppercase;
font-weight: 700;
line-height: 2;
font-size: 25px;
letter-spacing: 3px;



}


span{

	font-family: Montserrat,"Helvetica Neue","Lucida Grande",Arial,Verdana,sans-serif;
	font-size:15px;
	letter-spacing: 0.1rem;
	color:#9a8d8d;
	
}

#fone{

	color:#9a8d8d;
	font-size: 20px;
}

#env{
	color:#9a8d8d;
	padding-right: 8px;
	font-size: 15px;

}












 
  /* laptop hidpi */
   /* @media only screen and (min-device-width: 1440px) and (max-device-height: 900px){

	.logo2{

		width: 450px;
		height: 450px;
		top:700px;
	}

	.com{

		font-size: 35px;
	}

	span{

		font-size: 25px;


	}

	.descr{

		bottom: 60px;
	}

	#fone{

		font-size: 40px;

	}

	#env{

		font-size: 30px;
		padding-right: 15px;

	}


  } */





  /* iphone X */
  @media only screen and (min-device-width: 375px) and (max-device-height: 812px){

	.social-links ul li{

		font-size: 40px;
	}


	.logo{

		width: 300px;
		height: 300px;

	}

	.logo2{

		width: 600px;
		height: 600px;
		top:700px;
	}


	.com{

		font-size: 45px;
	}

	span{

		font-size: 35px;


	}

	.descr{

		bottom: 150px;
	}

	#fone{

		font-size: 40px;

	}

	#env{

		font-size: 30px;
		padding-right: 15px;

	}



   }



   

  
   /* ipad */
/* 
   @media only screen and (min-device-width: 768px) and (max-device-height: 1024px) {


	.social-links ul li{

		font-size: 40px;
	}


	.logo{

		width: 300px;
		height: 300px;

	}

	.logo2{

		width: 600px;
		height: 600px;
		top: 300px;
		
	}


	.com{

		font-size: 45px;
	}

	span{

		font-size: 35px;


	}

	.descr{

		bottom: 150px;
	}

	#fone{

		font-size: 40px;

	}

	#env{

		font-size: 30px;
		padding-right: 15px;

	}





   } */







     /* ipad pro

	 @media only screen and (min-device-width: 1024px) and (max-device-height: 1366px) {


		.social-links ul li{
	
			font-size: 40px;
		}
	
	
		.logo{
	
			width: 300px;
			height: 300px;
	
		}
	
		.logo2{
	
			width: 600px;
			height: 600px;
			top: 300px;
			
		}
	
	
		.com{
	
			font-size: 45px;
		}
	
		span{
	
			font-size: 35px;
	
	
		}
	
		.descr{
	
			bottom: 150px;
		}
	
		#fone{
	
			font-size: 40px;
	
		}
	
		#env{
	
			font-size: 30px;
			padding-right: 15px;
	
		}
	
	
	
	
	
	   } */


	     /* iphone 6/7/8 plus */

	 @media only screen and (min-device-width: 414px) and (max-device-height: 736px) {


		.logo2{
	
			top: 500px;
			
		}



	 }



	   /* iphone 6/7/8  */

	   @media only screen and (min-device-width: 375px) and (max-device-height: 667px) {


		.social-links ul li{
	
			font-size: 40px;
		}
	
	
		.logo{
	
			width: 300px;
			height: 300px;
	
		}
	
		.logo2{
	
			width: 600px;
			height: 600px;
			top: 450px;
			
		}
	
	
		.com{
	
			font-size: 45px;
		}
	
		span{
	
			font-size: 35px;
	
	
		}
	
		.descr{
	
			bottom: 150px;
		}
	
		#fone{
	
			font-size: 40px;
	
		}
	
		#env{
	
			font-size: 30px;
			padding-right: 15px;
	
		}
	


	 
  
	   }





	   /* galaxy s5 */


/* @media only screen and (min-device-width: 360px) and (max-device-height: 640px) {


	.social-links ul li{

		font-size: 40px;
	}


	.logo{

		width: 300px;
		height: 300px;

	}

	.logo2{

		width: 600px;
		height: 600px;
		top: 450px;
		
	}


	.com{

		font-size: 45px;
	}

	span{

		font-size: 35px;


	}

	.descr{

		bottom: 150px;
	}

	#fone{

		font-size: 40px;

	}

	#env{

		font-size: 30px;
		padding-right: 15px;

	}


   } */




   /* pixel 2 */



@media only screen and (min-device-width: 411px) and (max-device-height: 731px) {


	.social-links ul li{

		font-size: 40px;
	}


	.logo{

		width: 300px;
		height: 300px;

	}

	.logo2{

		width: 600px;
		height: 600px;
		
		
	}


	.com{

		font-size: 45px;
	}

	span{

		font-size: 35px;


	}

	.descr{

		bottom: 150px;
	}

	#fone{

		font-size: 40px;

	}

	#env{

		font-size: 30px;
		padding-right: 15px;

	}



 

   }




    /* pixel 2xL */



@media only screen and (min-device-width: 411px) and (max-device-height: 823px) {


	.social-links ul li{

		font-size: 40px;
	}


	.logo{

		width: 300px;
		height: 300px;

	}

	.logo2{

		width: 600px;
		height: 600px;
		top: 550px;
		
	}


	.com{

		font-size: 45px;
	}

	span{

		font-size: 35px;


	}

	.descr{

		bottom: 150px;
	}

	#fone{

		font-size: 40px;

	}

	#env{

		font-size: 30px;
		padding-right: 15px;

	}



 

   }







   /* iphone5/SE */



@media only screen and (min-device-width: 320px) and (max-device-height: 568px) {


	.social-links ul li{

		font-size: 40px;
	}


	.logo{

		width: 300px;
		height: 300px;

	}

	.logo2{

		width: 600px;
		height: 600px;
		top: 450px;
		
	}


	.com{

		font-size: 45px;
	}

	span{

		font-size: 35px;


	}

	.descr{

		bottom: 150px;
	}

	#fone{

		font-size: 40px;

	}

	#env{

		font-size: 30px;
		padding-right: 15px;

	}



 

   }


/* Galaxy note 3 */
   @media only screen and (min-device-width: 360px) and (max-device-height: 640px) {



	.social-links ul li{

		font-size: 40px;
	}


	.logo{

		width: 300px;
		height: 300px;

	}

	.logo2{

		width: 600px;
		height: 600px;
		top: 450px;
		
	}


	.com{

		font-size: 45px;
	}

	span{

		font-size: 35px;


	}

	.descr{

		bottom: 150px;
	}

	#fone{

		font-size: 40px;

	}

	#env{

		font-size: 30px;
		padding-right: 15px;

	}



   }







  


